// header
.header {
    position: sticky;
    top: 0;
    background-color: #60b4df;
    width: 100%;
    z-index: 1000;

    &__container {
        max-width: 65rem;
        padding: 0 2rem;
        margin: 0 auto;
        height: 3rem;
        display: flex;

        &-logo {
            flex: 1;
            display: flex;
            align-items: center;

            &__title {
                color: #fff;
                font-size: 1.1rem;
                font-weight: 600;
                letter-spacing: 2px;
                text-transform: uppercase;
                line-height: 3rem;

                span {
                    font-weight: 300;
                }
            }
        }

        &-navBtn {
            flex: 3;
            display: flex;

            &__navLinks {
                flex: 2;
            }

            &__logoSign {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;

                &-btn1 {
                    background-color: transparent;
                    color: #fff;

                    &:hover {
                        background-color: #fff;
                        color: #69bde7;
                    }
                }

                &-btn2 {
                    background-color: #fff;
                    color: #69bde7;

                    &:hover {
                        background-color: transparent;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.main {

    &__section {
        position: relative;
        height: calc(100vh - 3rem);
        width: 100%;
        background: url('/img/bg.png') no-repeat top center/cover;
        overflow: hidden;

        &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(56, 165, 238, .5);
        }
    }
}